<p *ngIf="userId != 1">Not authorized to view this page</p>

<div *ngIf="userId == 1">
  <div class="card">
    <div class="bg-transparent card-header">Users</div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">FullName</th>
            <th scope="col">Email</th>
            <th scope="col">Profit</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.fullName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.profit }}</td>
            <td
              (click)="updateUser(user.id)"
              style="cursor: pointer; width: 50px"
            >
              <svg cIcon name="cilPencil" size="xl"></svg>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
