<!-- chat.component.html -->
<div class="rounded bg-secondary text-center m-1 p-1">
  <h3 style="font-weight: bold" class="text-light">CHAT ROOM</h3>
</div>
<div *ngIf="UserId == 1 && !SelectedUser">
  <div *ngFor="let user of Users" style="font-weight: bold">
    <input
      type="radio"
      name="selecteduser"
      #{{user.id}}
      (click)="setUser(user.id)"
    />
    {{ user.name }}
  </div>
</div>
<div class="card" *ngIf="SelectedUser">
  <div class="card-body" style="height: 500px; overflow: scroll">
    <ul>
      <div class="row" *ngFor="let message of messages">
        <div [ngClass]="{ 'text-end': message.userId == UserId }">
          <div style="font-weight: bold">
            {{ message.userName }}
          </div>
          <div>
            {{ message.Text }}
          </div>
        </div>
        <br />
      </div>
    </ul>
  </div>
  <div class="card-footer">
    <div>
      <input
        class="form-control"
        type="text"
        #messageText
        id="messageText"
        placeholder="Message"
        (keyup.enter)="sendMessage(messageText.value)"
      />
      <button
        class="btn btn-primary mt-2"
        (click)="selectNewUser()"
        *ngIf="UserId == 1"
      >
        Select Another User
      </button>
      <button
        class="btn btn-success float-end mt-2"
        (click)="sendMessage(messageText.value)"
      >
        Send
      </button>
      <button
        class="btn btn-danger float-start mt-2"
        (click)="sendToAll(messageText.value)"
        *ngIf="UserId == 1"
      >
        Send to All Users
      </button>
    </div>
  </div>
</div>
