<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm>
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input
                  autoComplete="name"
                  cFormControl
                  #Username
                  placeholder="Username"
                  (keyup)="ufullName(Username.value)"
                />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input
                  autoComplete="email"
                  cFormControl
                  placeholder="Email"
                  #email
                  (keyup)="uemail(email.value)"
                />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input
                  autoComplete="new-password"
                  cFormControl
                  #password
                  placeholder="Password"
                  type="password"
                  (keyup)="upassword(password.value)"
                />
              </c-input-group>

              <div class="d-grid">
                <button
                  (click)="Create()"
                  [disabled]="!emailisvalid"
                  cButton
                  color="success"
                >
                  Create Account
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
