<div class="row">
  <div class="col-md-2">
    <div class="card">
      <div class="card-header">Filter</div>
      <div class="card-body">
        <div>
          <span> Name: </span>
          <div>
            <input type="text" #Name (keyup)="updateName(Name.value)" />
          </div>
          <span> Description: </span>
          <div>
            <input type="text" #Desc (keyup)="updateDesc(Desc.value)" />
          </div>
          <span> Time: </span>
          <div class="d-lfex justify-content-around">
            <button class="col-md-5 m-1" (click)="updateTime(0)">Reset</button>
            <button class="col-md-5 m-1" (click)="updateTime(1)">Daily</button>
            <button class="col-md-5 m-1" (click)="updateTime(2)">
              Monthly
            </button>
            <button class="col-md-5 m-1" (click)="updateTime(3)">Yearly</button>
          </div>
          <span> Status: </span>
          <div class="d-lfex justify-content-around">
            <button
              class="col-md-5 m-1"
              #reset
              value=""
              (click)="updateStatus(reset.value)"
            >
              Reset
            </button>
            <button
              class="col-md-5 m-1"
              #pending
              value="pending"
              (click)="updateStatus(pending.value)"
            >
              Pending
            </button>
            <button
              class="col-md-5 m-1"
              #active
              value="active"
              (click)="updateStatus(active.value)"
            >
              Active
            </button>
            <button
              class="col-md-5 m-1"
              #done
              value="done"
              (click)="updateStatus(done.value)"
            >
              Done
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <c-card *ngIf="data.length > 0" class="mb-4">
      <c-card-header>
        <strong>Order List</strong>
      </c-card-header>

      <c-card-body style="max-height: 600px; overflow: scroll">
        <table cTable>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col">Piece</th>
              <th scope="col">Status</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of data">
              <th scope="row">
                <img src="{{ d.pictureUrl }}" width="100" />
              </th>

              <th scope="row">{{ d?.name }}</th>
              <td>{{ d.description }}</td>
              <td>{{ d.price }}</td>
              <td>{{ d.piece }}</td>
              <td>{{ d.status }}</td>
              <td>
                <div *ngIf="d.status !== 'done'">
                  <a style="cursor: pointer" (click)="isDelete(d.id)">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                      fill="red"
                      class="bi bi-trash"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
                      />
                      <path
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
                      />
                    </svg>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </div>
</div>
