<div class="card">
  <div class="card-header">Payment</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Pay With wallet</div>

          <div class="card-body">
            Wallet: {{ wallet }}$
            <br />
            <br />
            Total Product Price : {{ debt }}$
            <br />
            <br />
            <div *ngIf="wallet < debt">
              You don't have enough budget to buy !
              <br />
              <br />
              <br />
              <br />
              <div class="card">
                <div class="card-header">
                  <p style="font-weight: bolder">Start Eft</p>
                  Eft info (Iban 000000 )
                </div>
                <div class="card-body">
                  Eft amounth :
                  <div class="row d-flex">
                    <input
                      #eftamounth
                      (keyup)="updateeft(eftamounth.value)"
                      class="form-control col-6"
                      type="number"
                      min="{{ debt - wallet }}"
                    />
                    <div
                      class="text-danger m-2 text-center"
                      *ngIf="eftaMounth < debt - wallet"
                    >
                      Min {{ debt - wallet }} is required !
                    </div>
                    <button
                      class="btn btn-success mt-2"
                      *ngIf="eftaMounth > debt - wallet"
                      (click)="startEft()"
                    >
                      Start Eft
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />
            <button
              (click)="buyItems()"
              class="btn btn-success"
              *ngIf="wallet >= debt"
            >
              Buy With Wallet
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Pay Witch Card</div>
          <div class="card-body">
            <div>
              <p style="font-weight: bold">Card info:</p>
              <br />
              <div class="form-group">
                <label for="cardHolderName">Card Holder Name:</label>
                <input
                  type="text"
                  class="form-control"
                  #cardHolderName
                  (keyup)="updatecardHolder(cardHolderName.value)"
                  required
                />
              </div>

              <div class="form-group">
                <label for="cardNumber">Card Number:</label>
                <input
                  type="text"
                  class="form-control"
                  #cardNumber
                  maxlength="16"
                  (keyup)="updatecordNumber(cardNumber.value)"
                  required
                />
              </div>

              <div class="form-group">
                <label for="number">Card Expiration Date:</label>
                <input
                  type="text"
                  class="form-control"
                  maxlength="4"
                  #expirationDate
                  (keyup)="updateexDate(expirationDate.value)"
                  required
                />
              </div>

              <div class="form-group">
                <label for="cardCvv">Card CVV:</label>
                <input
                  type="text"
                  maxlength="3"
                  class="form-control"
                  #cardCvv
                  (keyup)="updatecvv(cardCvv.value)"
                  required
                />
              </div>
            </div>
            <div class="mt-2 text-center">
              <button
                (click)="buyWithCard()"
                *ngIf="isButtonActive == true"
                class="btn btn-success"
              >
                Buy With Card
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
