<div class="{{ value }}" (click)="ref()" style="cursor: pointer">
  <img
    src="https://us1-photo.nextdoor.com/business_logo/54/e1/54e1050380206fe98134610cb9e2f3e8.jpeg"
    alt=""
    width="50%"
  />
</div>
<div class="{{ cad }}" *ngIf="id == 1 && warning.length > 0">
  <div class="mb-2 p-4 row card">
    Warning Low Stock :
    <br />
    <br />
    <div class="col-md-6">
      <table cTable>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Piece</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of warning">
            <th scope="row"></th>

            <th scope="row">{{ d?.name }}</th>
            <td>{{ d?.piece }}</td>
            <td>
              <button
                (click)="navigateToProductPage(d?.id)"
                class="btn btn-danger text-light"
                *ngIf="id == 1"
              >
                Update
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<c-card class="{{ cad }}">
  <c-card-header>
    <strong>Products List</strong>
    <button
      class="btn btn-secondary float-end"
      *ngIf="id == 1"
      (click)="addProduct()"
    >
      Add Product
    </button>
  </c-card-header>
  <c-card-body>
    <div class="col-md-6 d-flex">
      <div class="col-3 p-2">ProductType :</div>
      <div class="col-md-6">
        <input
          class="form-control"
          type="text"
          #productType
          (keyup.enter)="updateProductType(productType.value)"
        />
      </div>
    </div>
    <div class="col-md-6 d-flex mt-1">
      <div class="col-3 p-2">
        <div class="my-auto">ProductBrand :</div>
      </div>
      <div class="col-md-6">
        <input
          class="form-control"
          type="text"
          #productBrand
          (keyup.enter)="updateProductBrand(productBrand?.value)"
        />
      </div>
    </div>

    <div class="row d-flex justify-content-around">
      <c-card class="col-3 m-5 d-flex" *ngFor="let d of products">
        <img cCardImg="top" src="{{ d?.pictureUrl }}" height="300" />
        <c-card-body>
          <h4 class="strong" cCardTitle>
            {{ d?.productBrand }} : {{ d?.name }}
          </h4>
          <p cCardText>
            {{ d?.description }}
          </p>
          <p>Type : {{ d?.productType }}</p>
          <p>Price : {{ d?.price }} $</p>
        </c-card-body>
        <c-card-footer class="bg-transparent">
          <div class="d-flex justify-content-around">
            <div class="my-auto">Storage : {{ d?.piece }}</div>
            <button
              (click)="navigateToProductPage(d?.id)"
              class="btn btn-success text-light"
              *ngIf="id != 1"
            >
              Buy
            </button>
            <button
              (click)="navigateToProductPage(d?.id)"
              class="btn btn-danger text-light"
              *ngIf="id == 1"
            >
              Change
            </button>
          </div>
        </c-card-footer>
      </c-card>
    </div>
    <!-- <table cTable>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Piece</th>
          <th scope="col">Brand</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of products">
          <th scope="row">
            <img src="{{ d?.pictureUrl }}" width="100" />
          </th>

          <th scope="row">{{ d?.name }}</th>
          <td>{{ d?.description }}</td>
          <td>{{ d?.price }}</td>
          <td>{{ d?.piece }}</td>
          <td>{{ d?.productBrand }}</td>
          <td>{{ d?.productType }}</td>
        </tr>
      </tbody>
    </table> -->
  </c-card-body>
</c-card>
