<c-card class="mb-4">
  <c-card-header>
    <strong>Products List</strong>
  </c-card-header>
  <c-card-body>
    <div class="col-md-6 d-flex">
      <div class="col-3 p-2">ProductType :</div>
      <div class="col-md-9">
        <input
          class="form-control"
          type="text"
          #productType
          (keyup.enter)="updateProductType(productType.value)"
        />
      </div>
    </div>
    <div class="col-md-6 d-flex">
      <div class="col-3 p-2">
        <div class="my-auto">ProductBrand :</div>
      </div>
      <div class="col-md-9">
        <input
          class="form-control"
          type="text"
          #productBrand
          (keyup.enter)="updateProductBrand(productBrand.value)"
        />
      </div>
    </div>

    <div class="row d-flex justify-content-around">
      <c-card class="col-3 m-5 d-flex" *ngFor="let d of products">
        <img cCardImg="top" src="{{ d.pictureUrl }}" height="300" />
        <c-card-body>
          <h4 class="strong" cCardTitle>{{ d.productBrand }} : {{ d.name }}</h4>
          <p cCardText>
            {{ d.description }}
          </p>
          <p>Type : {{ d.productType }}</p>
          <p>Price : {{ d.price }} $</p>
        </c-card-body>
        <c-card-footer class="bg-transparent">
          <div class="d-flex justify-content-around">
            <div class="my-auto">Storage : {{ d.piece }}</div>
            <button class="btn btn-success text-light">Buy</button>
          </div>
        </c-card-footer>
      </c-card>
    </div>
    <!-- <table cTable>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Piece</th>
          <th scope="col">Brand</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of products">
          <th scope="row">
            <img src="{{ d.pictureUrl }}" width="100" />
          </th>

          <th scope="row">{{ d.name }}</th>
          <td>{{ d.description }}</td>
          <td>{{ d.price }}</td>
          <td>{{ d.piece }}</td>
          <td>{{ d.productBrand }}</td>
          <td>{{ d.productType }}</td>
        </tr>
      </tbody>
    </table> -->
  </c-card-body>
</c-card>
